dist: xenial
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.8-dev"
  - "nightly"
# command to install dependencies!
install: "pip install -r requirements.txt && pip install numpy"
# command to run tests!
script: python simple_test.py